<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <!-- Define a property for the log file location -->
    <property name="LOGS" value="./logs"/>

    <!-- Define appenders -->
    <!-- Console appender -->
    <appender name="Console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Rolling file appender -->
    <appender name="RfAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOGS}/spring-boot-logger.log</file>
        <encoder>
            <pattern>%d %p %C{1} [%t] %m%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOGS}/archieved/spring-boot-logger-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>10MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
    </appender>

    <!--warning-->
    <appender name="WarnRfAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOGS}/warn-spring-boot-logger.log</file>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>WARN</level>
        </filter>
        <encoder>
            <pattern>%d %p %C{1} [%t] %m%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOGS}/archieved/warn-spring-boot-logger-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>10MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
    </appender>

    <!--warning-->
    <appender name="ErrorRfAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOGS}/error-spring-boot-logger.log</file>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>ERROR</level>
        </filter>
        <encoder>
            <pattern>%d %p %C{1} [%t] %m%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOGS}/archieved/error-spring-boot-logger-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>10MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
    </appender>

    <!-- Root logger configuration -->
    <root level="info">
        <appender-ref ref="Console"/>
    </root>

    <!-- Logger specific configuration -->
    <logger name="com.nipuna.cms" level="debug" additivity="false">
        <appender-ref ref="RfAppender"/>
        <appender-ref ref="Console"/>
    </logger>

    <logger name="com.nipuna.cms" level="warn" additivity="false">
        <appender-ref ref="WarnRfAppender"/>
    </logger>

    <logger name="com.nipuna.cms" level="info" additivity="false">
        <appender-ref ref="ErrorRfAppender"/>
    </logger>

</configuration>